[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
requests = "*"
flask = ">=2.0"
asgiref = "*"
uvicorn = "*"
python-dotenv = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.13"
