[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
requests = "*"
asgiref = "*"
uvicorn = "*"
python-dotenv = "*"
flask-cors = "*"
aiosqlite = "*"
bcrypt = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.13"
